.box {
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.border1 { border: 5px solid black; }

.border2 { border: 3px solid black; }

.border3 { border: 2px dotted black; }

.border4 { border: 4px dotted black; }

.border5 { border: 6px double black; }

.border6 { border: 2px solid gray; }

.border7 { border: 8px solid black; background: black; color: white; }